body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  max-width: 1500px;
  padding: 0;
  margin: 0;
}

section {
  padding: 80px 40px;
  height: 100%;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* HOME */
#noise {
  background-color: rgb(204, 204, 204);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
}

#home {
  background-image: url(../img/back.gif);
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Press Start 2P', monospace;
  color: white;
  text-transform: uppercase;
  text-shadow: -1px 1px black, -1px 0 black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.header {
  padding: 0 10px 50px 10px;
  display: inline-block;
}

.header h2 {
  margin-bottom: 15px;
}

.header sup {
  font-size: 14px;
}

.header hr {
  margin-top: 10px;
  border: 2px dashed white;
}

#home ul li {
  padding: 5px 20px;
}

.btn-nav {
  position: relative;
  cursor: pointer;
}

.for-hover::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0da ';
  color: red;
  font-weight: 900;
  text-shadow: -2px -4px black, -2px 4px black, 2px 0 black, 0 -2px black;
  position: absolute;
  left: -30px;
}
/*FIN HOME*/


#about, #skills, #quests, #contact {
  padding: 120px;
}

/* ABOUT */
#about {
  font-family: 'Source Code Pro', monospace;
}

.genre i {
  color: pink;
  text-shadow: -2px 0 black, -2px 0 black, 2px 0 black, 0 -2px black;
}

.medals ul li:not(.li-text) {
  display: inline-block;
  width: 75px;
  padding: 3px;
  background-color: beige; /*#DBDFAC*/
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
  border: 1px dashed black;
}

.medals ul li.li-text {
  padding: 0 5px 12px 0;
  font-size: 16px;
}

.medals ul li img {
  width: 100%;
  height: auto;
}

/* paragraphs and hr */
#about hr {
  margin: 32px 0;
  border: 2px dashed black; /**/
}

#about hr:last-of-type {
  margin-bottom: 0;
}

#about p {
  padding: 5px 20px;
  margin: 0;
}

.bold {
  color: black; /*#DB162F*/
  font-size: 22px;
  font-weight: bold;
}
/* FIN ABOUT */

/* SKILLS */

#skills li {
  padding: 5px;
}

.skill-card {
  padding: 10px 10px 6px 10px;
  border: 1px solid red;
}

.skill-title {
  font-weight: bold;
}

#skills span.skill-icon.col {
  padding: 0;
  width: 80px!important;
  height: 80px;
  display: inline-block;
}

#skills .skill-info {
  display: inline-block;
  padding: 0 5px 0 0;
  width: auto;
}

.skill-icon svg {
  width: 80px;
  height: 80px;
  border: 1px solid blue;
  padding: 10px;
}

/* EXTRAS */
.vertical-align {
    display: flex;
    align-items: center;
}