body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.content {
  width: 100%;
  max-width: 1500px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section {
  height: 100%;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#home, #skills, #quests, #contact {
  background-color: black;
  padding: 120px;
}

.section-content {
  
}


/* HOME */
#noise {
  background-color: rgb(204, 204, 204);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
}

#home {
  background-image: url(../img/back.gif);
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Press Start 2P', monospace;
  color: white;
  text-transform: uppercase;
  text-shadow: -2px 2px black, -2px 0 black, 2px 0 black, 0 -2px black;
  text-align: center;
  overflow: hidden;
}

.header {
  padding: 0 0 50px 0;
  display: inline-block;
}

#home .col-12 {
  padding: 0;
}

.header h2 {
  margin-bottom: 20px;
}

.header .sup {
  font-size: 14px;
}

.header hr {
  margin: 15px 0 40px 0;
  border: 2px dashed white;
}

#home ul li {
  padding: 5px 20px;
}

#home .btn-nav {
  position: relative;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#home .btn-nav:hover {
  color: white;
  text-decoration: none;
}

#home .for-hover::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0da ';
  color: red;
  font-weight: 900;
  text-shadow: -2px -4px black, -2px 4px black, 2px 0 black, 0 -2px black;
  position: absolute;
  left: -30px;
} /*FIN HOME*/

/* NAV */

nav {
  background-color: #256A71;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
}

nav .nav {
  width: 100%;
  height: 60px;
}

nav .nav ul.section-info {
  float: left;
}

nav .nav ul.mi-menu {
  position: absolute;
  right: 20px;
}

nav .nav .in-section {
  padding-left: 20px;
  background-color: #EADEDA;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 80px;
  position: relative;
  width: 250px;
  z-index: 1000;
  box-shadow: 5px 0 0px 0px #ccc;
  color: white;
  text-shadow: -1px 1px black, -1px 0 black, 1px 0 black, 0 -1px black;
  font-family: 'Press Start 2P', monospace;
}

nav .nav .in-section .circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #FFFBFA;
  position: absolute;
  right: 20px;
  bottom: 17.5px;
}

nav .nav.on-skills .in-section {
  width: 310px;
}

nav .nav.on-quests .in-section {
  width: 370px;
}

nav .nav.on-contact .in-section {
  width: 430px;
}
.in-section {
  transition: width 0.5s ease;
}

nav .nav .decoration {
  background-color: #3BACAA;
  height: 60px;
  position: absolute;
  left: 150px;
  bottom: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 105px;
}

nav .nav .decoration .circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 17.5px;
  display: inline-block;
  background-color: #256A71;
}

nav .nav li {
  display: inline-block;
  line-height: 60px;
  padding: 0 5px;
}

nav .nav li a {
  font-family: 'VT323', monospace;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 8px 12px;
  text-transform: uppercase;
}

nav .nav li a.home {
  color: #aa0d25;
  font-size: 19px;
}

nav .nav li a:hover {
  text-decoration: none;
}

nav .nav li a:focus {
  box-shadow: none;
   position: relative;
   top: .2em;
   outline: none;
}

/* ABOUT */
#about {
  background-image: url(../img/grass-background.png);
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
}

#about .section-content {
  padding: 80px 20px 20px 20px;
  height: 100%;
}

#about .character {/* contenedor */
  width: 100%;
  padding: 20px;
}

#about figure {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

#about .character-img {
  padding: 0 20px 0 0;
}

#about .character-info {
  padding: 0 0 0 20px;
}

#about .character-text {/* contenedor border: 3px dashed #6b313b; */
  height: 100%;
  padding: 5px;
  background-color: #EADEDA;
  border-radius: 15px;
}

#about .character-text-in {
  padding: 10px 40px;
  border-radius: 15px;
  overflow-y: scroll;
  height: 100%;
    border: 2px dashed #256A71;
}

/* medals */
#about .medals {
  text-align: right;
  display: inline-block;
}

#about .ul {
  text-align: right;
}

#about .medals span {
  display: block;
  text-align: center;
  padding: 2px 0;
  border: 2px solid #256A71;
  background-color: #256A71;
  border-radius: 50px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  color: white;
}

#about .medals li {
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 3px;
  border: 2px dashed #256A71;
  border-radius: 50%;
  overflow: hidden;
  background-color: #256A71;
}

#about .medals li img {
  background-color: #EADEDA;
  border-radius: 50%;
}

#about .character-text-in p {
  font-size: 13px;
  color: #090C08;
  padding: 20px 40px;
  margin: 0;
  text-align: center;

}

#about .character-text-in p a {
  background-color: #FFE521;
  color: #454851;
  padding: 0 5px;
  font-weight: 600;
}


#about .character-text-in hr {
  border-top: 5px dashed #256A71;
}

#about .character-text-in hr:first-of-type {
  margin-top: 50px;
  margin-bottom: 30px;
}

#about .character-text-in hr:last-of-type {
  margin-top: 30px;
  margin-bottom: 5px;
}


#about .character {
  position: relative;
}

#about .char-name, #about .char-job, #about .char-rank, #about .char-lvl, #about .char-genre {
  display: block;
  text-align: left;
  margin: 0;
  position: relative;
}

#about .char-lvl, #about .char-genre {
  display: block;
  text-align: right;
}

#about .char-name span, #about .char-job span, #about .char-rank span, #about .char-lvl span, #about .char-genre span {
  border-radius: 10px;
  border-top-left-radius: 0;
  border: 2px solid #6B313B;
  text-transform: uppercase;
  color: black;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  width: auto;
  font-family: 'VT323', monospace;
  background-color: #6B313B;
  color:#FFFBFA;
}


#about .char-job span, #about .char-rank span {
  background-color: #256A71;
  border: #256A71;
}

#about .char-rank span {
  background-color: ;
}

#about .char-job {
  padding-left: 10px;
  border-top: 0;
}

#about .char-rank {
  border-top: 0;
  padding-left: 20px;
}

#about .label {
  display: inline-block;
  position: absolute;
  top: -23px;
  left: 0;
}

#about .label p {
  background-color: #256A71;
  margin: 0;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 10px;
  padding: 3px;
  text-transform: lowercase;
  color: white;
  margin-right: 5px;
}

#about .label p:first-of-type {
  background-color: #6B313B;
  color: white;
}

#about .char-lvl span, #about .char-genre span {
  border-radius: 10px;
  display: inline-block;
  width: auto;
}

#about .char-genre, #about .char-lvl {
  margin-bottom: 5px;
}

#about span.genre {
  padding: 0;
}

.genre i {
  color: pink;
} /* FIN ABOUT */

/* SKILLS */


/* EXTRAS */
.vertical-align {
    display: flex;
    align-items: center;
}


#about {
  color: red;
}

#skills {
  color: white;
}

#quests {
  color: green;
}

#contact {
  color: yellow;
}
/* MEDIAQUERIES */

@media (max-width: 780px) {
  section, #home, #about, #skills, #quests, #contact {
    padding: 40px 10px;
    height: 100%;
  }

}


#about .character-text-in::-webkit-scrollbar-track
{
  background-color: #EADEDA;
  border-radius: 15px;
}

#about .character-text-in::-webkit-scrollbar
{
  width: 8px;
  background-color: #EADEDA;
}

#about .character-text-in::-webkit-scrollbar-thumb
{
  background-color: #6B313B;
  border-radius: 10px;
}



/*
#about .character-text::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#about .character-text::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#about .character-text::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}*/
